.img_badge{
  width: 37px;
  border-radius: 50%;
}
sup.ant-scroll-number.ant-badge-dot{
  position: absolute !important;
  top: 31px !important;
  margin: 3px 5px 6px 0px !important;
}
.ant-badge-dot{
  width: 8px !important;
  height: 8px !important;
  background: #64ff4d !important;
}
@media only screen and (max-width: 736px) {
  sup.ant-scroll-number.ant-badge-dot {
    position: absolute !important;
    top: 19px !important;
    margin: 3px 1px 6px 0px !important;
  }
}