.cardContainer{
  padding-top: 5px;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}
.customCss {
  font-size: 16px;
  font-weight: 500;
}

.subCard{
  display: flex;
}
.grid-class{
  display: grid;
  grid-template-columns: 100px auto auto;
}
.image-subcat{
  width: 110px;
  border-radius: 10px;
}
.bottom-class{
  padding-top: 51px;
}